.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.selected-date {
  background-color: #1f2c3d; /* Dark background for the selected date */
  color: white; /* White text color for readability */
  border-radius: 50%;
  font-weight: bold; /* Bold text */
}

.highlighted-date {
  background-color: #FFA500; /* Orange color for highlighted dates */
  color: black;
  border-radius: 50%;
}

.highlighted-date-today{
  background-color: #FFA500; /* Orange color for highlighted dates */
  color: black;
  border-radius: 50%;
  font:bold;
}

.calendar-and-text {
  display: flex;
  align-items: baseline; /* Aligns the label and input on the same text baseline */
  gap: 2vw; /* Space between label and DatePicker */
}

.date-label {
  font-size: 16px;
  line-height: 1.2; /* Adjust line height to match input text alignment */
  margin: 0;
  
}

.datepicker-wrapper {
  width: 80px; /* Set width to your desired size for the DatePicker */
  direction: ltr;
}

.calendar {
  width: 100%; /* Ensure DatePicker input takes the full width of the wrapper */
  padding: 5px 10px; /* Adjust padding for better alignment with label */
  text-align: left;
  font-size: 16px; /* Match the font size with the label */
}